.formBoxParents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 448px;
    background-color: #ffffff;
    width: 100%;
    padding: 45px 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form-group{
    margin-bottom: 20px;
}
.form-control{
    height: 48px;
}
.form-control::placeholder{
    opacity: 0.6;
}
.formBoxParents h1{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
}
.bottomTexts a{
    text-decoration: none;
}
.auth-page-wrapper{
    background-image: url('../../public/assets/images/smilleyGuy.jpg');
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center -165px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.auth-page-wrapper::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(232, 66, 66, 0.8);
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}
 