.sidebar {
    width: 220px;
    background: var(--main-color-red);
    color: white;
    min-height: 100vh;
    padding-top: 20px;
    transition: width 0.3s ease;
  }
  .sidebar.collapsed {
    width: 70px;
  }
  .sidebar .toggle-btn {
    background: transparent;
    color: white;
    border: none;
    margin: 0 0 10px 10px;
    font-size: 20px;
  }
  .sidebar-menu {
    list-style: none;
    padding: 0;
  }
  .sidebar-menu a {
    color: white;
    text-decoration: none;
    display: block;
  }
  .sidebar-menu a:hover {
    background: #34495e;
  }
  .dashboard-inner-content{
    background-color: #ffffff;
  }
  button.btn-outline-primary{
    border: 1px solid var(--main-color-red);
    color: var(--main-color-red);
  }
  button.btn-outline-primary:hover,button.btn-outline-primary:focus{
    background-color: var(--main-color-red);
    border: 1px solid var(--main-color-red);
    color: #fff;
  }
  .sidebar-menu li a.active{
    background-color: #fff;
    color: var(--blue-dark-primary);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  .sidebar-menu li a span{
    display: inline-block;
  }
  .sidebar-menu li a{
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    width: 100%;
  }
  .sidebar.collapsed li a{
    text-align: center;
    justify-content: center;
  }
  .sidebar.collapsed li a span{
    display: none;
  }
  .sidebar.collapsed li a svg{
    margin-right: 0 !important;
  }
  .breadcrumb-item a{
    color: var(--blue-dark-primary);
    text-decoration: none;
  }
  .btnDelete svg{
    fill: var(--main-color-red) !important;
    font-size: 22px;
  }
  
  .btnEdit svg{
    fill: green !important;
    font-size: 22px;
  }
  .outer_div{
    background-color: #f2f2f2f8;
    height: 100%;
  }
  .inner_div{
    background-color: #fff;
  }