.sidebar {
    width: 100%;
    background: var(--blue-dark-primary);
    color: white;
    height: 100%;
    padding-top: 20px;
    transition: width 0.3s ease;
  }
  .sidebar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Full viewport height */
    width: 240px; /* Adjust width as needed */
    z-index: 1000;
    background-color: #fff; /* Optional */
    border-right: 1px solid #dee2e6; /* Optional */
    overflow-y: auto;
    transition: width 0.3s ease;
  }
  
  .dashboard-inner-content {
    margin-left: 240px; /* Same as sidebar width */
    padding:0 1rem 1rem 1rem; /* Optional spacing */
    background-color: #ffffff;
    height: 100%;
    min-height: 100vh;
    transition: width 0.3s ease;
  }
  .admin-layout-wrapper.collapsed .sidebar-fixed{
    width: 70px;
  }
  .admin-layout-wrapper.collapsed  .dashboard-inner-content{
    margin-left: 70px;
  }
  
  .sidebar.collapsed {
    width: 100%;
  }
  .sidebar .toggle-btn {
    background: transparent;
    color: white;
    border: none;
    margin: 0 0 10px 10px;
    font-size: 20px;
  }
  .top-header{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 240px);
    z-index: 1024;
    background-color: #ffffff;
  }
  .admin-layout-wrapper.collapsed .top-header{
    width: calc(100% - 70px);
  }
  .outer_div{
    height: 100%;
    background-color: #f2f2f2f8;
    min-height: 100vh;
    margin-top: 75px;
  }
  .inner_div{
    background-color: #fff;
    border-radius: 8px;
  }
  .sidebar-menu {
    list-style: none;
    padding: 0;
  }
  .sidebar-menu a {
    color: white;
    text-decoration: none;
    display: block;
  }
  .sidebar-menu a:hover {
    background: #34495e;
  }
  button.btn-outline-primary{
    border: 1px solid var(--main-color-red);
    color: var(--main-color-red);
  }
  button.btn-outline-primary:hover,button.btn-outline-primary:focus{
    background-color: var(--main-color-red);
    border: 1px solid var(--main-color-red);
    color: #fff;
  }
  .sidebar-menu li a.active{
    background-color: #fff;
    color: var(--blue-dark-primary);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  .sidebar-menu li a span{
    display: inline-block;
  }
  .sidebar-menu li a{
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    width: 100%;
  }
  .sidebar.collapsed li a{
    text-align: center;
    justify-content: center;
  }
  .sidebar.collapsed li a span{
    display: none;
  }
  .sidebar.collapsed li a svg{
    margin-right: 0 !important;
  }
  .breadcrumb-item a{
    color: var(--blue-dark-primary);
    text-decoration: none;
  }
  .btnDelete svg{
    fill: var(--main-color-red) !important;
    font-size: 22px;
  }
  
  .btnEdit svg{
    fill: green !important;
    font-size: 22px;
  }
  button.btn{
    border-radius: 40px;
  }
  a.btn-red,.btn-red{
    background-color: var(--main-color-red);
    color: #fff;
    border: 1px solid var(--main-color-red);
    border-radius: 40px;
  }
  a.btn-red:hover,.btn-red:hover{
    border: 1px solid var(--main-color-red);
    color: var(--main-color-red);
  }
  .btn svg{
    font-size: 20px;
    position: relative;
    bottom: 2px;
  }
 